/* Common styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    background-color: rgb(32, 30, 30);
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.container {
    padding: 0px 70px;
}

nav {
    background-color: black;
    box-shadow: 0px 5px 10px black;
    padding: 20px;
}

.footer-nav {
    box-shadow: 0px -5px 10px black;
}

.no-margin {
    margin: 0;
}

.text-center {
    text-align: center;
}

input[type='text'],
select {
    background-color: black;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 10px;
}

button,
.btn {
    background-color: blue;
    border: 0;
    outline: 0;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(11 11 37);
    text-decoration: none;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.danger {
    background-color: red;
    box-shadow: 0px 5px 10px rgb(37, 11, 17);
}

th,
td {
    padding: 10px 20px;
}

thead {
    border-bottom: 1px solid white;
}

table {
    margin: 50px 0px;
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    border-collapse: collapse;
}

.header {
    display: flex;
    justify-content: space-between;
}

a.nav-link {
    text-decoration: none;
    color: rgb(187, 186, 186);
    margin: 0px 10px;
    transition: all 0.3s ease-in;
}

a.nav-link:hover {
    color: white;
}

a.nav-link.active {
    color: white;
}

img {
    height: 40px;
    width: 40px;
}


/*Header Component Styles*/


/*Footer Component Styles*/


/*Add Student Component Styles*/


/*View Students Component Styles*/


/*Update Student Component Styles*/